<h2>Tutte le navi</h2>
<div class="card mb-3" style="max-width: 540px;" *ngFor="let data of yachts">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{data.immagine}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Nome: {{data.nome}}</h5>
        <p class="card-text">Modello: {{data.modello}} </p>
        <p class="card-text">Descrizione: {{data.descrizione}}</p>
        <p class="card-text">Capienza: {{data.capienza}}</p>
        <p class="card-text">Prezzo: {{data.prezzo}}</p>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success">Noleggia</button>
      <button class="btn btn-primary">Modifica</button>
      <button class="btn btn-danger">Elimina</button>
    </div>

  </div>
</div>
